@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

/*Типовые блоки*/
.outline22 {
    outline: 1px solid red;
}

.outline23 {
    outline: 1px solid blue;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
}

.green--background {
    background-color: #849d8f;
}

.button {
    border: none;
    border-radius: 100px;
}

.button--red {
    background-color: #e84d37;
    background-image: linear-gradient(to top, #e74a35, #f26843);
    box-shadow: 0 2px 2px #ac1000;
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
}

.button--green {
    font-size: 14px;
    font-weight: 500;

    color: #fff;
    border: none;
    background-color: #a1b5aa;
}

.button--green:hover,
.button--green:focus {
    color: #000;
    outline: none;
    background-color: #fff;
}

.button--red:hover,
.button--red:focus {
    background-color: #f07a63;
    background-image: linear-gradient(to top, #f07a63, #f26843);
    box-shadow: 0 2px 2px #ac1000;
}

.button--red:active {
    box-shadow: inset 0 2px 2px #ac1000;
}

.link--underline {
    text-decoration: underline;

    color: #b0c0b7;
}

.link--color {
    color: #fff;
}

.link--color:hover {
    color: #000;
}

.link--color:visited {
    color: #fff;
}

/*Основные блоки*/
.body-main-settings {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;

    position: relative;

    margin: 0;
    padding: 0;

    color: #fff;
}

.main-header {
    padding-top: 9px;

    background-color: transparent;
}

.container {
    /*Пробовал задавать отступы согласно ТЗ в процентах. Но не попадаю в PP. Не могу понять почему. Поэтому пока задал жесткие отступы*/
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    /*padding-right: 27px;*/
    /*padding-left: 27px;*/
}

.container > * {
    padding-right: 2.3%;
    padding-left: 2.3%;
}

.main-header__first-line {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.main-nav__logo {
    line-height: 0;
}

.main-nav__logo {
    margin-right: 11px;
}

.main-nav {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;

    align-items: center;
}

.main-nav__list {
    display: flex;
    flex-direction: row;

    list-style-type: none;

    justify-content: flex-start;
    flex-wrap: wrap;
}

.main-nav__list-item {
    font-weight: 700;
    line-height: 32px;

    position: relative;

    margin-left: 3px;
    /*padding-right: 13px;*/
    /*padding-left: 13px;*/
}

.main-nav__list-item:hover {
    /*padding-right: 13px;*/
    /*padding-left: 13px;*/
    color: #000;
}

.main-nav__list-item:first-child {
    margin-left: 0;
}

.main-nav__list-item:first-child::after {
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    height: 8px;

    content: '';

    background-color: transparent;
}

.main-nav__list-item:hover .main-nav__link {
    color: #000;
    border-radius: 100px;
    background-color: #f8f7f4;
}

.main-nav__link {
    line-height: 32px;

    display: block;

    box-sizing: border-box;
    min-height: 32px;
    padding-right: 13px;
    padding-left: 13px;

    text-decoration: none;

    color: #fff;
}

.main-nav__link:hover {
    position: relative;

    text-decoration: none;

    color: #000;
    border-radius: 15px;
    background-color: #f8f7f4;
}

.main-nav__link:active {
    box-shadow: inset 0 2px 1px #696969;
}

.main-nav__link::after {
    position: absolute;
    top: calc(100% - 8px);
    left: 12px;

    width: calc(100% - 50px);
    height: 1px;
    padding-right: 13px;
    padding-left: 13px;

    content: '';

    background-color: rgba(250, 250, 250, .2);
}

.active--page {
    position: relative;

    text-decoration: none;

    color: #fff;
    border-radius: 100px;
    background-color: #d07058;
}

.active--page::after {
    content: none;
}

.sub-menu__list {
    z-index: 1;

    display: none;

    box-sizing: border-box;
    min-width: 143px;

    color: #000;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.sub-menu__list-item {
    height: 28px;
    margin-bottom: 3px;
}

.sub-menu__list-item:first-child {
    height: 40px;
    margin-bottom: -2px;
    padding-top: 2px;
}

.sub-menu__list-item:last-child {
    margin-bottom: 9px;
}

.main-nav__list-item:hover .sub-menu__list {
    position: absolute;
    top: 113%;
    left: -8px;

    display: block;
}

.sub-menu__list-item:first-child::after {
    position: absolute;
    top: 37px;
    left: 7px;

    width: 128px;
    height: 1px;

    content: '';

    background-color: #d1d0ce;
}

.sub-menu__list-item:first-child .sub-menu__link {
    font-weight: 700;
}

.sub-menu__list-item:hover,
.sub-menu__list-item:focus {
    display: block;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #fbded7;
}

.sub-menu__list-item:active {
    display: block;

    background-color: #f6b5a5;
}

.sub-menu__link {
    font-size: 14px;
    font-weight: 400;

    position: relative;

    display: block;

    padding-right: 19px;
    padding-left: 19px;

    text-decoration: none;

    color: #000;
}

.sub-menu__link:hover {
    font-size: 14px;

    color: #000;
}

.secondary-menu__list {
    display: flex;
    flex-direction: row;

    padding-top: 14px;
}

.secondary-menu__list-item {
    margin-left: 10px;
}

.secondary-menu__list-item:first-child {
    margin-left: 0;
}

.search-button {
    position: relative;

    width: 33px;
    height: 33px;
}

.search-button:hover {
    cursor: pointer;
}

.search-button::before {
    position: absolute;
    top: 7px;
    left: 7px;

    width: 17px;
    height: 17px;

    content: '';

    background-image: url('../img/loupe.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.search-button:hover::before,
.search-button:focus::before {
    background-image: url('../img/loupe-black.svg');
}

.search--popup {
    position: relative;
}

.modal-window-search {
    position: absolute;
    top: 36px;
    left: -308px;

    display: none;
    flex-direction: row;

    box-sizing: border-box;
    min-width: 341px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;

    content: '';

    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.search--popup:hover .modal-window-search {
    display: flex;
}

.search-form__input {
    font-size: 14px;

    box-sizing: border-box;
    min-width: 309px;
    height: 42px;
    padding-left: 14px;

    color: #999;
    border: 1px solid #fff;
    border-radius: 5px;
}

.search-form__input {
    border: 1px solid #d3d3d2;
}

.secondary-menu_item__enter-button {
    position: relative;

    min-width: 93px;
    min-height: 33px;
    padding-left: 28px;
}

.secondary-menu_item__enter-button:hover {
    cursor: pointer;
}

.secondary-menu_item__enter-button::before {
    position: absolute;
    top: 6px;
    left: 16px;

    width: 21px;
    height: 19px;

    content: '';

    background-image: url('../img/enter.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.secondary-menu_item__enter-button:hover::before,
.secondary-menu_item__enter-button:focus::before {
    background-image: url('../img/enter-black.svg');
}

.enter--popup {
    position: relative;
}

.modal-window-enter {
    position: absolute;
    top: 36px;
    left: -182px;

    display: none;

    box-sizing: border-box;
    min-width: 278px;
    padding-top: 20px;
    padding-right: 18px;
    padding-bottom: 20px;
    padding-left: 18px;

    content: '';

    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.enter--popup:hover .modal-window-enter {
    display: block;
}

.cart-button {
    position: relative;

    width: 117px;
    height: 32px;
    padding-left: 15px;
}

.cart-button:hover {
    cursor: pointer;
}

.cart-button::before {
    position: absolute;
    top: 7px;
    left: 15px;

    width: 21px;
    height: 19px;

    content: '';

    background-image: url('../img/empty-cart.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.cart-button:hover::before,
.cart-button:focus::before {
    background-image: url('../img/empty-cart-black.svg');
}

.full--cart::before,
.full--cart:hover::before,
.full--cart:focus::before {
    background-image: url('../img/full-cart.svg');
}

.order--popup {
    position: relative;
}

.modal-window-order {
    position: absolute;
    top: 36px;
    left: -423px;

    display: none;

    box-sizing: border-box;
    min-width: 541px;
    padding-top: 18px;
    padding-right: 16px;
    padding-bottom: 20px;
    padding-left: 16px;

    content: '';

    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .4);
}

.order--popup:hover .modal-window-order {
    display: flex;
}

.cart-form {
    display: flex;
    flex-direction: column;

    align-items: flex-end;
}

.cart-order__table-main {
    font-size: 13px;

    width: 509px;
    margin-bottom: 5px;

    table-layout: fixed;
    border-collapse: collapse;

    color: #000;
}

.cart-order__1st-col {
    position: relative;

    width: 11px;
    height: 11px;
}

.cart-order__delete-position {
    position: absolute;
    top: 10px;
    left: 0;

    width: 11px;
    height: 11px;

    content: '';

    border: none;
    background-color: transparent;
    background-image: url('../img/position-delete.svg');
    background-repeat: no-repeat;
    background-position: center center;
}

.cart-order__2nd-col {
    width: 33px;
    padding-bottom: 16px;
    padding-left: 15px;
}

.cart-order__3rd-col {
    width: 216px;
    padding-top: 7px;
    padding-left: 15px;

    vertical-align: top;
}

.cart-order__4th-col {
    width: 110px;
    padding-top: 7px;
    padding-left: 27px;

    vertical-align: top;
}

.cart-order__5th-col {
    padding-top: 7px;
    padding-left: 15px;

    vertical-align: top;
}

.cart-order__table-total {
    font-size: 13px;

    width: 509px;
    margin-bottom: 14px;

    table-layout: fixed;
    border-collapse: collapse;

    color: #000;
    border-top: 1px solid #cacac7;
}

.table-total__cell {
    font-size: 15px;
    font-weight: 700;

    padding-top: 10px;

    text-align: right;
}

.cart-order-button {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;

    box-sizing: border-box;
    width: 173px;
    height: 43px;
    padding-top: 10px;
    padding-right: 12px;
    padding-bottom: 15px;
    padding-left: 12px;

    text-decoration: none;

    color: #fefefe;
    border-radius: 20px;
}

.main-header__second-line {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.second-line__breadcrumbs {
    display: flex;
    flex-direction: row;

    margin-top: 25px;

    list-style: none;

    justify-content: flex-start;
    flex-wrap: wrap;
}

.breadcrumbs__item {
    font-size: 14px;
    font-weight: 400;

    position: relative;

    margin-left: 22px;

    color: #fff;
}

.breadcrumbs__item:not(:first-child):before {
    position: absolute;
    top: 0;
    left: -14px;

    content: '»';
}

.breadcrumbs__item:first-child {
    margin-left: 0;
}

.breadcrumbs__link {
    font-size: 14px;
    font-weight: 400;

    color: #fff;
}

.second-line__contacts {
    display: flex;
    flex-direction: column;

    text-align: right;
}

.second-line__working-hours {
    font-size: 14px;
    font-weight: 700;

    margin-bottom: 3px;
}

.second-line__tel-text {
    font-size: 22px;
    font-weight: 700;

    text-decoration: none;

    color: #fff;
}

.second-line__tel {
    text-decoration: none;

    color: #fff;
}

.enter-button {
    font-size: 18px;
    font-weight: 700;

    box-sizing: border-box;
    min-height: 45px;
    margin-right: 18px;
    padding-right: 25px;
    padding-left: 25px;

    color: #fff;
}

.modal-window-enter__text {
    align-self: center;
}

.modal-window-enter__link {
    font-size: 13px;

    display: block;

    color: #000;
}

.enter-form__input {
    font-size: 14px;

    box-sizing: border-box;
    height: 42px;
    margin-bottom: 22px;
    padding-left: 13px;

    color: #999;
    border: 1px solid #fff;
    border-radius: 5px;
}

.enter-form__input:hover {
    border: 1px solid #d3d3d2;
}

.enter-form__first-internal-container {
    display: flex;
    flex-direction: column;
}

.enter-form__second-internal-container {
    display: flex;
    flex-direction: row;

    box-sizing: border-box;

    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.carousel {
    position: relative;

    min-height: 500px;;
}

.carousel__slider-list {
    position: relative;
}

.slider-list__item {
    display: none;
    /*display: flex;*/

    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.visible--item {
    display: flex;
}

.slider-list__img {
    position: absolute;
    z-index: -1;
    top: -114px;
    left: 66px;

    max-width: 100%;
    height: auto;
}

.slider-list__slogan {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    /*position: absolute;*/

    width: 80%;
    margin-top: 274px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;

    text-align: center;
}

.slider__button {
    font-size: 32px;
    font-weight: 700;
    line-height: 66px;

    box-sizing: border-box;
    width: 282px;
    min-height: 66px;
    padding-right: 25px;
    padding-left: 25px;

    text-align: center;
    text-decoration: none;

    color: #fff;
}

.carousel__controls {
    position: absolute;
    top: 446px;
    left: 0;

    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    /*align-items: center;*/
    align-content: center;
}

.carousel__controls-button {
    margin-left: 8px;
}

.carousel__controls-button:first-child {
    margin-left: 0;
}

.carousel__controls-label {
    display: block;

    width: 17px;
    height: 17px;

    cursor: pointer;

    border: 2px solid #fff;
    border-radius: 100px;
    background-color: transparent;
}

.button--active {
    border-radius: 100px;
    background-color: #fff;
}
